.btn:active{
  transform: translateY(4px);
}
#chop{
  background-color: #966F33;
}
#mine{
  background-color: #918E85;
}
#lumberProgress {
  width: 50%;
  background-color: rgba(128, 128, 128, 0);
  float: right;
}

#lumberProgressBar {
  width: 1%;
  height: 30px;
  background-color: #966F33;
}

#stoneProgress {
  width: 50%;
  background-color: rgba(128, 128, 128, 0);
  float: right;
}

#stoneProgressBar {
  width: 1%;
  height: 30px;
  background-color: #918E85;
}
.marketplace{
  display: none;
}
.stats{
  display: none;
}
