.stats {
 display: none;
}

#marketplace {
    text-align: center;

}

#chop:hover {
    background-color: burlywood;
}

#home {
    text-align: right;
}

#lumberProgress {
    float: right;
    width: 50%;
    background-color: grey;
}

#lumberProgressBar {
    width: 0%;
    height: 50px;
    background-color: burlywood;
}

#woodcuttingLevel {
    color: white;
}

hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
}

.inventory {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.marketplace {
    display: none;
}

.sellButtons {
    display: block;
    justify-content: center;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 72px);
    margin-bottom: 10px;
}

.upgrades {
    display: block;
    margin: auto;
}

ul {
    text-align: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    display: inline-block;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

p {
    text-align: center;
}

h1 {
    text-align: center;
    grid-template-columns: repeat(1, 96px);
    margin-bottom: 10px;
}

body {
    background: rgb(88,75,83);
    background: linear-gradient(180deg, rgba(88,75,83,1) 25%, rgba(157,92,99,1) 50%, rgba(214,227,248,1) 75%, rgba(254,245,239,1) 100%);
    background-size: 100vw 100vh;
    color: white;
    text-shadow: rgb(0, 0, 0) 3px 0px 0px, rgb(0, 0, 0) 2.83487px 0.981584px 0px, rgb(0, 0, 0) 2.35766px 1.85511px 0px, rgb(0, 0, 0) 1.62091px 2.52441px 0px, rgb(0, 0, 0) 0.705713px 2.91581px 0px, rgb(0, 0, 0) -0.287171px 2.98622px 0px, rgb(0, 0, 0) -1.24844px 2.72789px 0px, rgb(0, 0, 0) -2.07227px 2.16926px 0px, rgb(0, 0, 0) -2.66798px 1.37182px 0px, rgb(0, 0, 0) -2.96998px 0.42336px 0px, rgb(0, 0, 0) -2.94502px -0.571704px 0px, rgb(0, 0, 0) -2.59586px -1.50383px 0px, rgb(0, 0, 0) -1.96093px -2.27041px 0px, rgb(0, 0, 0) -1.11013px -2.78704px 0px, rgb(0, 0, 0) -0.137119px -2.99686px 0px, rgb(0, 0, 0) 0.850987px -2.87677px 0px, rgb(0, 0, 0) 1.74541px -2.43999px 0px, rgb(0, 0, 0) 2.44769px -1.73459px 0px, rgb(0, 0, 0) 2.88051px -0.838247px 0px;
}
button {
    text-align: center;
    display: block;
    margin: auto;
    color: black;
    padding: 32px 16px;
    box-shadow: 0 5px #666;

}

button:active {
    transform: translateY(4px);
}



