#marketplace {
    text-align: center;

}



#chop:hover{
    background-color: burlywood;
}

hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
}

.inventory {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.marketplace {
    display: none;
}

.sellButtons {
    display: block;
    justify-content: center;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 72px);
    margin-bottom: 10px;
}

.upgrades {
    display: block;
    margin: auto;
}

ul {
    text-align: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    display: inline-block;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

p {
    text-align: center;
    grid-template-columns: repeat(1, 96px);
}

h1 {
    text-align: center;
    grid-template-columns: repeat(1, 96px);
    margin-bottom: 10px;
}

body {
    background-color: #BABAF6;
}

button {
    text-align: center;
    display: block;
    margin: auto;
    color: black;
    padding: 32px 16px;
    box-shadow: 0 5px #666;

}
 button:active{
    transform: translateY(4px);
 }